In [29]:
myList = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [2]:
myList

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [10]:
myList[0:len(myList):3]

['apple', 'orange', 'mango']

In [16]:
myList[::-1]

['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [17]:
myList[:4]

['apple', 'banana', 'cherry', 'orange']

In [18]:
myList[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [26]:
def fruit_finder():
    fruitName = input("Enter the name : ")
    for index,value in enumerate(myList):
        if fruitName == value:
            fruitName = input("Enter the new fruit name")
            myList[index] = fruitName
    return myList

In [27]:
fruit_finder()

Enter the name : mango
Enter the new fruit namesome

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'some']

In [30]:
myList

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [33]:
fruitName = input("Enter the name : ")
if fruitName in myList:
    print("{} found".format(fruitName))
else:
    print("wrong input")

Enter the name : mango
mango found

In [34]:
myList

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [35]:
myList.insert(1,'Dikhit')

In [36]:
myList

['apple', 'Dikhit', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [37]:
myList.remove('Dikhit')

In [38]:
myList

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [39]:
myList.pop()

'mango'

In [41]:
myList.append('mango')

In [42]:
myList

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [43]:
myList2 = myList.copy()

In [44]:
myList2

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [45]:
myList2.append('Dikhit')

In [46]:
myList2

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'Dikhit']

In [47]:
doubleList = myList + myList2

In [48]:
doubleList

['apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'apple',
 'banana',
 'cherry',
 'orange',
 'kiwi',
 'melon',
 'mango',
 'Dikhit']

In [2]:
myList3 = list(('supurman', 'hulk', 'thor','captain america'))

In [3]:
myList3

['supurman', 'hulk', 'thor', 'captain america']

In [4]:
myList3.remove('supurman')

In [5]:
myList3.append('iron man')

In [6]:
myList3

['hulk', 'thor', 'captain america', 'iron man']

In [7]:
myList4 = myList3.copy()

In [8]:
myList4

['hulk', 'thor', 'captain america', 'iron man']

In [9]:
myList4.clear()

In [10]:
myList4

[]

In [13]:
x = myList3.count()

TypeError: count() takes exactly one argument (0 given)

In [16]:
u=count(myList3)

NameError: name 'count' is not defined

In [21]:
mySet = {'apple', 'banana', 'cherry', 'orange', 'orange', 'melon', 'mango'}

In [22]:
mySet

{'apple', 'banana', 'cherry', 'mango', 'melon', 'orange'}

In [23]:
for item in mySet:
    print(item,end = " ")

melon orange cherry mango apple banana

In [27]:
thisset = {"apple", "banana", "cherry"}

thisset.update({"orange", "mango", "grapes"})

print(thisset)

{'cherry', 'grapes', 'orange', 'mango', 'apple', 'banana'}

In [28]:
newSet = thisset.copy()

In [29]:
newSet

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [30]:
del newSet

In [32]:
thisset

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [3]:
firstSet = {'1','2','3'}
secondSet = {'a','b','c'}
unionSet = firstSet.union(secondSet)

In [4]:
unionSet

{'1', '2', '3', 'a', 'b', 'c'}

In [5]:
unionSet = secondSet.union(firstSet)

In [6]:
unionSet

{'1', '2', '3', 'a', 'b', 'c'}

In [7]:
unionSet.add('d')

In [8]:
unionSet

{'1', '2', '3', 'a', 'b', 'c', 'd'}

In [9]:
x = unionSet.difference(firstSet)

In [10]:
x

{'a', 'b', 'c', 'd'}

In [11]:
x = unionSet.difference(secondSet)

In [12]:
x

{'1', '2', '3', 'd'}

In [13]:
myNewSet = set(('1','2','3'))

In [16]:
y = x.difference(myNewSet)

In [17]:
y

{'d'}

In [29]:
userDetails = {
    "name" : "Dikhit",
    "age" : "21",
    "college": "Dibrugarh Universty Institute of Engineering and Technology"
}

In [30]:
userDetails

{'name': 'Dikhit',
 'age': '21',
 'college': 'Dibrugarh Universty Institute of Engineering and Technology'}

In [31]:
for index in userDetails:
    print(index + ":" + str(userDetails[index]))

name:Dikhit
age:21
college:Dibrugarh Universty Institute of Engineering and Technology

In [32]:
for index,value in userDetails.items():
    print(index + ":" + value)

name:Dikhit
age:21
college:Dibrugarh Universty Institute of Engineering and Technology

In [36]:
name = input("Enter the name : ")
if "name" in userDetails:
    print("your name is "+userDetails[name])

Enter the name : name
your name is Dikhit

In [37]:
length = len(userDetails)

In [39]:
length

3

In [40]:
userDetails.pop("college")

'Dibrugarh Universty Institute of Engineering and Technology'

In [41]:
userDetails

{'name': 'Dikhit', 'age': '21'}

In [42]:
x = lambda a : a+10

In [43]:
x(5)

15

In [44]:
x = lambda a,b: a*b

In [48]:
print("value is : " + str(x(3,4)))

value is : 12

In [59]:
def myFunc(n):
    return lambda a : a*n

In [60]:
myFunc(12)

In [61]:
x = myFunc(12)

In [62]:
x(2)

24

In [65]:
def method6(num):
    return num

method6(12)

In [66]:
method6(12)

12

In [67]:
x = lambda a,b,c : a*b*c

In [68]:
x(1,2,3)

6

In [125]:
myList = [1,5,3,9,4]

In [126]:
x  = list()

In [127]:
myList.sort()

In [128]:
print(type(x))

<class 'NoneType'>

In [138]:
def my_sorter(func):
    def inner_func(data):
        data.sort(reverse = True)
        return data
    return inner_func

In [139]:
@my_sorter
def method7(list):
    return list

In [140]:
print(method7([1,4,2,7,5]))

[7, 5, 4, 2, 1]

In [141]:
print("jai maata di")

jai maata di

In [142]:
fruit_tuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [143]:
fruit_tuple[-4:-2]

('orange', 'kiwi')

In [144]:
fruit_tuple[-1]

'mango'

In [145]:
fruit_tuple[::-1]

('mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple')

In [146]:
if "kiwi" in fruit_tuple:
    print("Something")

Something

In [147]:
for index,value in enumerate(fruit_tuple):
    if "kiwi" in value:
        fruit_tuple[index] = "Dikhit"

TypeError: 'tuple' object does not support item assignment

In [148]:
vowels = ['e', 'a', 'u', 'o', 'i']

In [149]:
vowels.sort()

In [150]:
vowels

['a', 'e', 'i', 'o', 'u']

In [151]:
vowels.sort(reverse = True)

In [152]:
vowels

['u', 'o', 'i', 'e', 'a']

In [153]:
int(vowels[0])

ValueError: invalid literal for int() with base 10: 'u'

In [155]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 - tuple2
print(tuple3)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'