In [7]:
name = input("Enter the DNA : ")
for i in name:
    if i == 'G':
        name.replace('G','C')
        print(name)
    elif i =='C':
        name.replace(i,'G')
        print(name)
    elif i =='A':
        name.replace(i,'U')
    elif i == 'T':
        name.replace(i,'A')
    else:
        print("Wrong Input")
        break

Enter the DNA : GCTA
GCTA
GCTA

In [8]:
name = "Dikhit"

In [9]:
name.replace('i','I')

'DIkhIt'

In [10]:
first=(1,2)

In [15]:
first = complex(1,3)

(1+3j)

In [16]:
second = complex(2,5)

In [17]:
second

(2+5j)

In [18]:
first = first+second

TypeError: can only concatenate tuple (not "complex") to tuple

In [8]:
# problem LCO
inputString=input("")
x=[]
list_check = ['A','T','G','C','U']
for v in inputString:
    if v in list_check:
        if v=="G":
            x.append("C")
        elif v=="C":
            x.append("G")
        elif v=="T":
            x.append("A")
        elif v=="A":
            x.append("U")
        else:
            print("Invalid Input")
            x.clear()
            break
    else:
        print("Invalid Input")
        x.clear()
        break
final = "".join(x)
print(final)

GCTA
CGAU

In [28]:
final

'CGAU'

In [32]:
my_dict = { 'a':97, 'b':98, 'c':99 }

In [37]:
for value in my_dict.items():
    print(value)

('a', 97)
('b', 98)

In [2]:
b=input()
a="GCTA";c="CGAU"
try:print(''.join([c[a.index(i)]for i in b]))
except:print("Invalid Input")

GCTAATGCT
CGAUUACGA

In [ ]:
def RNA_DNA(lis):
    
    switcher = { 
        "G": "C", 
        "C": "G", 
        "T": "A",
        "A": "U"
    }
        
    print (switcher.get(lis, "Invalid Input"),end="")

string = input()
j = True

for i in string:
    if i!="G" and i!="C" and i!="T" and i!="A":
        print ("Invalid Input")
        j = False
        break;
        
if (j):
    for i in string:
        RNA_DNA(str(i))

In [5]:
def RNA_DNA(lis):
    
    switcher = { 
        "G": "C", 
        "C": "G", 
        "T": "A",
        "A": "U"
    }
        
    print (switcher.get(lis, "Invalid Input"),end="")
RNA_DNA('G')

C

In [10]:
class Employee():
    def __init__(self,first_name,last_name,age,salary):
        kind = "Dikhit Kumar Bhuyan"
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.salary = salary
        self.company_email = first_name +"."+last_name + "@company_name.com"
        self.name = self.first_name + " " + self.last_name
        
    def salary_change(self,percentage):
        self.salary = self.salary + int((percentage/100)*self.salary)
        return self.salary
    
    def employee_details(self):
        return self.name,self.age,self.salary,self.company_email

In [11]:
obj = Employee("Dikhit","Bhuyan",21,100000)

In [12]:
obj.employee_details()

('Dikhit Bhuyan', 21, 100000, 'Dikhit.Bhuyan@company_name.com')

In [13]:
type(obj.employee_details())

tuple

In [14]:
obj.salary_change(30)

130000

In [15]:
type(Employee("Dikhit","Bhuyan",21,100000))

__main__.Employee

In [16]:
class Developer(Employee):
    def salary(self,dev_salary):
        return self.salary + dev_salary
    def developer_award(self):
        return "Developer " + self.name

In [17]:
object2 = Developer("nemophee", "katlic",22,500000)

In [18]:
object2.employee_details()

('nemophee katlic', 22, 500000, 'nemophee.katlic@company_name.com')

In [19]:
object2.salary(100)

TypeError: 'int' object is not callable

In [2]:
obj = child()

hey there
<__main__.child object at 0x00000229B5723F88>

In [3]:
objP = parent()

hey there
<__main__.parent object at 0x00000229B5588488>

In [20]:
class first():
    def __init__(self,number):
        self.number = number
    def get_number(self):
        return self.number

class second():
    def __init__(self,name):
        self.name = name

In [122]:
def convertor(s,i):
    if i >= len(s):
        return "Wrong Input"
    
    if s[i].islower():
        for value in s:
            if value == s[i].upper():
                x=value.lower()
                s = s.replace(value,x)
                
    elif s[i].isupper():
        for value in s:
            if value == s[i].lower():
                x=value.lower()
                s = s.replace(value,x)
    return s

In [123]:
convertor("tikhIT",0)

'tikhIt'

In [150]:
def method(lower_limit,upper_limit,sequence_design):
    myList = []
    my_sequence = [num for num in range(lower_limit,upper_limit,sequence_design)]
    for index1,value1 in enumerate(my_sequence):
        for index2,value2 in enumerate(my_sequence[index1:]):
            if not (value1 * value2) % 2 == 0:
                print("({v1},{v2})".format(v1=value1,v2 = value2),end = " ")

In [151]:
method(1,20,3)

(1,1) (1,7) (1,13) (1,19) (7,7) (7,13) (7,19) (13,13) (13,19) (19,19)

In [156]:
def method2():
    my_sequence = input("Enter the sequence : ").split()
    for index1,value1 in enumerate(my_sequence):
        for index2,value2 in enumerate(my_sequence[index1:]):
            if not (int(value1) * int(value2)) % 2 == 0:
                print("({v1},{v2})".format(v1=value1,v2 = value2),end = " ")

In [157]:
method2()

Enter the sequence : 1 2 3 4 44 66 3
(1,1) (1,3) (1,3) (3,3) (3,3) (3,3)

In [163]:
class A():
    def some(self):
        print("A")
class B(A):
    def some(self):
        print("B")
class C(A):
    def some(self):
        print("C")
class D(B,C):
    def __init__(self):
        print("D")

In [164]:
obj = D()

D

In [165]:
obj.some()

B

In [1]:
import random
print(random.random())

0.3973394838230144

In [13]:
import random
value = random.choice(range(100))

In [14]:
value

4

In [19]:
value = random.choice([1,0,13,5,6,7,8,9,2])

In [20]:
value

7

In [21]:
size = int(input())
list1 = [int(x) for x in input().split()]
mult = 1
for i in list1:
    mult = mult * i
print(mult)

5
 1 2 3 4 5
120

In [23]:
size=int(input(""))
input_element=input("").split()
multiplier=1
for i in input_element:
    multiplier=(multiplier*int(i))%((10**9)+7)
print(multiplier)

5
1 2 3 4 5
120

In [24]:
marvel = ['Iron-man', 'thor', 'hulk']

In [25]:
del marvel[1]

In [26]:
marvel

['Iron-man', 'hulk']

In [27]:
marvel.insert(1,'thor')

In [28]:
marvel

['Iron-man', 'thor', 'hulk']